body {
  background-color: lightgray;
  padding-bottom: 5rem;
  margin-left: 50px;
}

toDoList.li {
  font-size: 30em;
  font-weight: bold;
}

ul, ol {
    font-size: 18px;
    line-height: 24px
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
