body {
  background-color: lightgray;
  padding-bottom: 5rem;
  margin-left: 50px;
}

ul, ol {
    font-size: 18px;
    line-height: 24px
}

li.toDoList.checkbox__input {
  height: 25px;
  width: 25px;
}
@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
