* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 250px;
}

/* Style the "Add To-Do!" button */
.mdl-button {
  width: 15%;
  margin-left: 10px;
  background-color: #157FFB !important;
  color: white !important;
  float: center;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.mdl-button:hover {
  background-color: #07598C !important;
}

.mdl-layout__header {
  color: black;
}

#addToDoForm {
  text-align: center;
  margin-top: 10px;
}

button {
  margin-left: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  background: #DA3749;
  border-color: #C0C0C0;
  height: 25px;
  width: 100px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(218, 55, 73, 0.8);
  color: white;
}

header {
  text-align: center;
  justify-content: center;
  height: 20vh;
  color: #1fb721;
  font-weight: bold;
}

#toDoList {
  text-align: center;
  list-style-type: none;
}

/* Style the list items */
ul li {
  position: relative;
  padding: 10px;
  list-style-type: none;
  font-size: 18px;
  transition: 0.2s;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* Style the checkbox */
input[type=checkbox] {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

input[type=checkbox]:hover {
  box-shadow:0px 0px 10px #1300ff;
}

/* When clicked on, add a background color and strike out text */
checkbox-custom:checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

@media screen and (max-width: 1024px) {
  header.mdl-layout__header {
    display: flex;
  }
}
